body {	
	background-color: #2dcb89;
}

#wrapper {
	color: #1a1a1a;
}

button {
	background-color: #2a2a2a;
}

button:hover {
	background-color: #4b4b4b;
}

a:hover {
	color: #0B5434;
}

label, input, input + small, textarea, small {
	color: #1a1a1a;
}

#content-buttons small, span.comment small {
	color: #fff;
}