@media screen and (max-width: 767px) {
    #sidebar, #nav, #login, #footer, #account, #buttons {
    	display: none;
    }

    #grid {
    	margin-top: 80px;
    }

    #header span#logo {
    	left: calc(50% - 107px);
    }

    #overlay span.nav, #source, #content-buttons, #comments-wrapper {
    	display: none !important;
    }
}