@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #2dcb89;
	color: #f3f3f3;
	text-align: center;
	overflow-x: hidden;
}

a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
	outline: 0;
}
a:focus, a:active {
	outline: 0;
}

a:hover {
	color: #1C362B;
}

button {
	display: inline-block;
	background: #00b666;
	padding: 0.8em 1.2em;
	text-align: center;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
	line-height: 1em;
	border: none;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;
	border-bottom: 0.3em solid rgba(0, 0, 0, 0.2);
	outline: none;
	font-size: 12px;
}

button:hover {
	background-color: #11cd7a;
}

button[disabled], button[disabled]:hover {
	color: #ccc;
	background-color: #aaa;
}

button.big {
	font-size: 1.5em;
}

small.error {
	display: block;
	color: #cdf7d7;
	font-weight: bold;
}

/* HEADER */

#header ul {
	list-style: none;
	margin-top: 20px;
}

#header ul#nav {
	height: 45px;
}

#header ul#nav li {
	display: inline-block;
	padding: 10px 15px;
	margin: 0 10px;
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#header ul#nav li:hover {
	background-color: #1BC379;
	border-bottom: 2px solid #089E5C;
}

#header ul#nav li.active {
	background-color: #00b666;
	border-bottom: 2px solid #089E5C;
}

#header span#logo {
	background: url('../img/logo.png') no-repeat;
	background-size: 100%;
	display: block;
	width: 213px;
	height: 46px;
	position: absolute;
	top: 10px;
	left: 8px;
	z-index: 10000;
}

#header span#account {
	position: absolute;
	font-weight: bold;
	right: 0;
	top: 35px;
	margin: 5px 20px;
	padding: 10px 15px;
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	z-index: 10000;
}

#header span#account:hover {
	background-color: #00b666;
	border-bottom: 2px solid #089E5C;
}

#header a#login, #header a#login:hover {
	color: #fff;
}

#header ul#buttons {
	position: absolute;
	right: 0px;
	top: 80px;
	margin: 10px 20px;
	padding: 0;
	font-size: 14px;
	text-transform: uppercase;
	z-index: 10000;
}

#header ul#buttons li {	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 8px 14px;
	cursor: pointer;
	margin-bottom: 5px;
	height: 41px;
}

#header ul#buttons li.notice {
	background-color: #30CB87;
	border-bottom: 2px solid #089E5C;
}

#header ul#buttons li:hover {
	background-color: #00b666;
	border-bottom: 2px solid #089E5C;
}

#header ul#actions {
	position: absolute;
	right: -220px;
	top: 80px;
	margin: 10px 20px;	
	background-color: #00b666;	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 0;
	width: 200px;
	border-bottom: 2px solid #089E5C;
	font-size: 14px;
	text-transform: uppercase;
	z-index: 10000;
}

#header ul a, #header ul a:hover {
	color: #fff;
	font-weight: normal;
}

#header ul#actions li {
	padding: 15px 25px;
	cursor: pointer;
	display: block;
	text-align: left;
	margin: 0;
	border-bottom: 1px solid #089E5C !important;
}

#header ul#actions a:first-child {
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

#header ul#actions a:last-child {
	border-bottom: none;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

#header ul#actions li i {
	float: left;
	margin-right: 10px;
	margin-top: 2px;
}

#header ul#actions li:hover {
	background-color: #1BC379;
}

#header ul#actions a:first-child:hover li {
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

#header span#list {
	display: inline-block;
	font-size: 12px;
	margin-top: 10px;
}

/* SIDEBAR */

#sidebar {
	position: absolute;
	left: 0;
	top: 140px;
	font-size: 12px;
	padding-left: 10px;
	text-align: left;
	z-index: 10000;
}

#sidebar ul {
	list-style: none;
	padding-left: 0;
	text-align: left;
}

#sidebar ul.list li {
	text-transform: uppercase;
	cursor: pointer;
	background-color: #229867;
	color: #114B33;
	padding: 5px 10px;
	margin-bottom: 1px;
	transition: background-color 0.2s ease;
	transition: color 0.2s ease;
}

#sidebar ul.list li:hover, #sidebar ul.list li.active {
	background-color: #6ED4A9;
	color: #229867;
}

#sidebar select {
	display: block;
	margin: 10px 0;
}

#sidebar h2 {
	margin: 5px 0;
}

#sidebar ul#social-links {
	width: 110px;
}

/* PAGE WRAPPER */

#wrapper {
	position: relative;
	display: inline-block;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 800px;
	width: 100%;
	text-align: center;
}

/* FORM ELEMENTS */

fieldset {
	border: none;
	text-align: left;
	margin-bottom: 20px;
	padding: 0;
}

label {
	font-size: 1.5em;
}

input, textarea {
	display: block;
	color: #fff;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	border: none;
	outline: none;
	margin: 0.3em 0 0 0;
	padding: 0.5em 1em 0.5em 0.7em;
	line-height: 1;
	font-size: 2em;
	border-bottom: 5px solid rgba(255, 255, 255, 0.15);
}

textarea {
	font-size: 1em;
	padding: 1em 1em;
	height: 200px;
}

input[type='checkbox'] {	
	width: 0.6em;
	height: 0.6em;
	display: inline;
	margin: 0;
}

label input[type='checkbox']{
    position: relative;
    vertical-align: middle;
    bottom: 1px;
    margin-right: 10px;
}

select {
	position: relative;
    vertical-align: middle;
    width: 100%;
	margin: 0.3em 0 0 0;
	outline: none;
}

select.large {	
    height: 3em;
	padding-left: 5px;
}

/* GRID */

#grid {
	position: relative;
	display: inline-block;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
	width: 100%;
}

/* GRID CORNERS */

.tl-corner {
	border-top-left-radius: 10px;
}

.tr-corner {
	border-top-right-radius: 10px;
}

.bl-corner {
	border-bottom-left-radius: 10px;
}

.br-corner {
	border-bottom-right-radius: 10px;
}

/* FIGURE */

#grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	width: 200px;
	height: 200px;
	background: #00b666;
	text-align: left;
	cursor: pointer;
}

#grid figure.bordered {	
	border-bottom: 3px solid rgba(0, 0, 0, 0.25);
}

#grid figure div {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	opacity: 0.9;
	background-size: cover;
	background-position: center;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

#grid figure figcaption {
	padding: 10px;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #333;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

#grid figure figcaption::before,
#grid figure figcaption::after {
	pointer-events: none;
}

#grid figure figcaption,
#grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
#grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

#grid figure p {
	margin: 0;
	letter-spacing: 1px;
	font-size: 12px;
	color: #fff;
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

#grid figure small {
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 18px;
	background-color: #f4f4f4;
	padding: 5px 8px 8px 8px;
	text-shadow: none;
	color: #333;
	text-transform: lowercase;
	opacity: 0;
	font-weight: bold;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

#grid figure:hover p,
#grid figure:hover small {	
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	opacity: 1;
}

#grid figure:hover div {
	opacity: 0.2;
}

/* OVERLAY */

#overlay {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 9999;
	display: none;
	overflow: auto;
}

#overlay-bg {
	position: absolute;
	top: 0;
	width: 100%;
	min-height: 100%;
	display: block;
}

#overlay-dark {
	position: fixed;
	top: 0;
	width: 100%;
	min-height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 1;
	display: none;
}

#overlay-content {
	margin: 0 auto;
	position: absolute;
	right: 0;
	left: 0;
	z-index: 2;
}

#content-wrapper {
	display: inline-block;
	text-align: left;
	margin: 40px 0;
	width: 90%;
	max-width: 800px;
}

#content-wrapper a:hover {
	color: #2dcb89;
}

#content-wrapper span.nav {
	position: absolute;
	display: inline-block;
	height: 100%;
	width: 100px;
	text-align: center;
	font-size: 40px;
	cursor: pointer;
	opacity: 0.2;
	top: 50%;
  	transform: translateY(-50%);
}

#content-wrapper span.nav:hover {
	opacity: 1;
}

#content-wrapper span.nav span {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#content-wrapper #prev-item {
	left: -100px;
}

#content-wrapper #next-item {
	left: 100%;
}

#content-frame {	
	text-align: center;
}

#content {
	position: relative;
	background-color: #000;
	min-width: 300px;
	min-height: 120px;
	display: inline-block;
}

#content * {
	margin-bottom: -5px;
}

#content-wrapper h2 {
	font-weight: normal;
}

#content-wrapper img {
	width: 100%;
}

#content-buttons {
	margin-top: 5px;
}

#content-buttons span {
	font-size: 20px;
	margin: 10px 5px;
	cursor: pointer;
}

#content-buttons small {
	font-size: 12px;
	margin: 10px 5px;
	display: block;
}

#content-buttons small.time {
	clear: right;
	float: right;
}

#content-buttons small.time a {
	font-weight: normal;
}

#content-buttons span.icon-flag:hover, #content-buttons span.icon-flag.active {
	color: #5898fc;
}

#content-buttons span.icon-ribbon:hover, #content-buttons span.icon-ribbon.active {
	color: #529b31;
}

#content-buttons span.icon-heart:hover, #content-buttons span.icon-heart.active {
	color: #f75050;
}

#content-buttons span.icon-cross:hover {
	color: #ccc;
}

#content-buttons span.title {
	font-size: 12px;
	padding: 5px 8px;
	background-color: #000;
	border-radius: 5px;
	margin-left: 10px;
	display: none;
}

small.admin {
	line-height: 20px;
}

small.admin a {
	margin-right: 10px;
}

/* TAGS */

ul.tags {
	padding: 0;
	list-style: none;
}

ul.tags li, ul.tags a {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	position: relative;
	font-size: 11px;
	margin-left: 10px;
	margin-bottom: 10px;
	font-weight: normal;
}

ul.tags li:first-child {
	margin-left: 0;
}

ul.tags a {
	margin-left: 20px;
	padding: 0 10px 0 12px;
	background: #2dcb89;
	color: #000;
	text-decoration: none;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;	
	border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;	
	border-top-right-radius: 4px;	
}

ul.tags a:before {
	content: "";
	float: left;
	position: absolute;
	top: 0;
	left: -12px;
	width: 0;
	height: 0;
	border-color: transparent #2dcb89 transparent transparent;
	border-style: solid;
	border-width: 12px 12px 12px 0;		
}

ul.tags a:after {
	content: "";
	position: absolute;
	top: 10px;
	left: 0;
	float: left;
	width: 3px;
	height: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #0F5739;
}

ul.tags a:hover { background: #48AB81; color: #fff;}	

ul.tags a:hover:before { border-color: transparent #48AB81 transparent transparent; }

#source {
	margin: 15px 0 0 0;
}

/* COMMENTS */

#comments-wrapper {	
	max-width: 800px;
	text-align: left;
	margin: 0 auto;
}

ul#comments, ul#comments ul {
	clear: both;
	list-style: none;
	padding: 0;
	font-size: 12px;
}

ul#comments ul {
	margin-top: 10px;
	margin-bottom: 0;
}

ul#comments li:last-child {
	margin-bottom: 0;
}

ul#comments li {
	border: 1px solid #666;
	padding: 10px;
	margin-bottom: 5px;
	background-color: #111;
}

ul#comments li span {
	display: block;
}

ul#comments li a:hover {
	color: #696969;
}

#comments-wrapper span.response, #comments-wrapper span.edit {
	display: block;
	text-align: right;
}

#comments-wrapper span.response small {
	margin-right: 10px;
}

ul#comments li textarea {
	background-color: #fff;
	color: #333;
	border: none;
	margin: 10px 0;
}

ul#comments li a.time {
	font-weight: normal;
	margin-left: 10px;
	color: #aaa;
}

ul#comments li i {
	font-size: 16px;
	margin-right: 8px;
	margin-bottom: 5px;
	cursor: pointer;
}

ul#comments li span.links a {
	margin-right: 10px;
}

#comments-wrapper textarea {
	width: 100%;
	height: 200px;
	resize: vertical;
	font-family: inherit;
	background-color: #fff;
	color: #333;
	border: none;
	margin: 10px 0;
}

#comment-buttons {
	float:right;
	margin-bottom: 10px;
}

span.comment p {
	margin: 5px 0;
}

/* LISTS */

ul#lists {
	max-width: 600px;
	margin: 0 auto;
	text-align: left;
	list-style: none;
	font-size: 26px;
	margin-top: 80px;
}

ul#lists li {
	position: relative;
	border: 2px solid #fff;
	padding: 10px 20px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	margin-bottom: 15px;
}

ul#lists li div.buttons {
	position: absolute;
	right: 20px;
}

ul#lists li div.buttons span {
	cursor: pointer;
}

ul#lists li div.buttons span:hover {
	color: #1C362B;
}

ul#lists li ul.items {
	display: block;
	list-style: none;
	font-size: 12px;
	margin: 5px 0;
	margin-top: 10px;
	padding: 0;
}

ul#lists li ul.items [class^="icon-"] {
	font-weight: bold !important;
}

ul#lists li ul.items li {
	margin-right: 5px;
	margin-bottom: 5px;
	display: inline-block;
	border: none;
	padding: 0;
}

ul#lists li ul.items li:hover span {
	visibility: visible;
}

ul#lists li ul.items span {
	visibility: hidden;
	margin-left: 5px;
	cursor: pointer;
}

ul#lists li ul.items span:hover {
	color: #1C362B;
}

ul#lists span.icon-plus, ul#lists span.icon-check {
	visibility: visible !important;
}

#lists span.title input {
	background-color: transparent;
	font-size: 1em;
	border: none;
	padding: 0;
	display: inline;
}

span#add-list {
	float: right;
	margin-right: 20px;
	margin-top: 10px;
	cursor: pointer;
}

span#add-list:hover {
	color: #1C362B;
}

ul.items input[name='new_item'] {
	background-color: #fff;
	color: #000;
	font-size: 1em;
	border-bottom: none;
	padding: 0.2em 0.5em;
	display: inline;
	width: auto;
	margin-right: 5px;
}


/* FOOTER */

#footer {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 10000;
}

#footer ul {
	list-style: none;
	text-align: right;
	margin-right: 10px;
	font-size: 10px;
}

/* JQUERY UI */

ul.ui-widget li.ui-menu-item {
	text-align: left;
	font-size: 1.5em;
}

ul.ui-widget li.ui-state-focus {
	font-weight: normal;
	color: #888;
	background-color: #efefef !important;
	border: 1px solid #ddd;;
}

/* PAGES */

#page-wrapper {
	text-align: left;
	width: 100%;
	color: #fff;
	max-width: 800px;
	margin: 60px auto;
}

/* MESSAGES */

div.message small.time, #message-buttons {
	clear: right;
	float: right;
}

div.message span.username {
	display: inline-block;
	margin: 0px 5px;
}

div.message small {
	font-size: 12px;
	margin: 5px;
	display: block;
}

div.message small.time a {
	font-weight: normal;
}

div.message div.content {
	background-color: #efefef;
	padding: 10px 15px;
	color: #333;
	margin: 10px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

div.message.unread div.content {
	background-color: #D5FFDF;
}
div.message div.content p {
	margin: 5px 0;
}

div.message div.content a {
	font-weight: normal;
	color: #0F73F7;
}

div.message div.content a:hover {
	text-decoration: underline;
}

span.message-event {
	display: inline-block;
	background-color: #A8F2BA;
	padding: 10px 15px;
	color: #333;
	margin: 10px 0;
	border-radius: 5px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	clear: both;
}

#message-buttons a {
	margin: 0 5px;
}

textarea.message {
	margin: 30px 0 20px 0;
	resize: none;
}

small.status {
	font-weight: bold;
	float: right;
	margin: 8px 20px;
	color: #fff;
}

/* INBOX */

ul#messages {
	list-style: none;
	margin: 10px 0;	
	background-color: #00b666;	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 0;
	width: 100%;
	border-bottom: 2px solid #089E5C;
	font-size: 14px;
	text-transform: uppercase;
	z-index: 10000;
}

ul#messages li {
	padding: 15px 25px;
	cursor: pointer;
	display: block;
	text-align: left;
	margin: 0;
	border-bottom: 1px solid #089E5C !important;
}

ul#messages a:first-child {
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

ul#messages a:last-child {
	border-bottom: none;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

ul#messages li.unread {
	background-color: #1BC379;
}

ul#messages li:hover {
	background-color: #1BC379;
}

ul#messages li:hover span {
	visibility: visible;
}

ul#messages li span {
	float: right;
	font-size: 1.3em;
	visibility: hidden;
}

ul#messages li span:hover {
	color: #35642B;
}

ul#messages a {
	color: #fff;
	font-weight: normal;
}

ul#messages a:first-child:hover li {
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

/* ADMIN */

div.info-block {
	float: left;
	width: 33%;
	margin-bottom: 20px;
}

div.info-block h3, div.info-block span, div.info-block a {
	width: 100%;
	display: inline-block;
	text-align: center;
}

div.info-block span {
	font-size: 3em;
}

/* MISCELLANEOUS */

ul.image-list {
	list-style: none; 
	padding-left: 10px; 
	line-height: 1.5em;
}

ul.image-list img {
	vertical-align: middle;
  	margin-top: -3px;
  	margin-right: 10px;
}