@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #2dcb89;
	color: #f3f3f3;
	text-align: center;
	overflow-x: hidden;
}

a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #5898fc;
}

button {
	display: inline-block;
	background: #00b666;
	padding: 0.8em 1.2em;
	text-align: center;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
	line-height: 1em;
	border: none;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;
	border-bottom: 0.3em solid rgba(0, 0, 0, 0.2);
	outline: none;
	font-size: 12px;
}

button:hover {
	background-color: #11cd7a;
}

button.big {
	font-size: 1.5em;
}

/* HEADER */

#header ul {
	list-style: none;
	margin-top: 20px;
}

#header ul#nav li {
	display: inline-block;
	padding: 10px 15px;
	margin: 0 10px;
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#header ul#nav li:hover {
	background-color: #1BC379;
	border-bottom: 2px solid #089E5C;
}

#header ul#nav li.active {
	background-color: #00b666;
	border-bottom: 2px solid #089E5C;
}

#header span#logo {
	background: url('../img/initial.png') no-repeat;
	background-size: 100%;
	display: block;
	width: 168px;
	height: 79px;
	position: absolute;
	top: 10px;
	left: 8px;
	z-index: 10000;
}

#header span#account {
	position: absolute;
	font-weight: bold;
	right: 0;
	top: 35px;
	margin: 5px 20px;
	padding: 10px 15px;
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	z-index: 10000;
}

#header span#account:hover {
	background-color: #00b666;
	border-bottom: 2px solid #089E5C;
}

#header ul#actions {
	position: absolute;
	right: -220px;
	top: 80px;
	margin: 10px 20px;	
	background-color: #00b666;	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 0;
	width: 200px;
	border-bottom: 2px solid #089E5C;
	font-size: 14px;
	text-transform: uppercase;
	z-index: 10000;
}

#header ul#actions li {
	padding: 15px 25px;
	cursor: pointer;
	display: block;
	text-align: left;
	margin: 0;
	border-bottom: 1px solid #089E5C;
}

#header ul#actions li:first-child {
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

#header ul#actions li:last-child {
	border-bottom: none;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

#header ul#actions li i {
	float: left;
	margin-right: 10px;
	margin-top: 2px;
}

#header ul#actions li:hover {
	background-color: #1BC379;
}

#header span#list {
	display: inline-block;
	font-size: 12px;
	margin-top: 10px;
}

/* SIDEBAR */

#sidebar {
	position: absolute;
	left: 0;
	top: 140px;
	font-size: 12px;
	padding-left: 10px;
	text-align: left;
	z-index: 10000;
}

#sidebar ul {
	list-style: none;
	padding-left: 0;
	text-align: left;
}

/* PAGE WRAPPER */

#wrapper {
	position: relative;
	display: inline-block;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1200px;
	text-align: center;
}

/* FORM ELEMENTS */

fieldset {
	border: none;
	text-align: left;
	margin-bottom: 20px;
}

label {
	font-size: 1.5em;
}

input {
	display: block;
	color: #fff;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	border: none;
	outline: none;
	margin: 0.3em 0 0 0;
	padding: 0.5em 1em 0.5em 0.7em;
	line-height: 1;
	font-size: 2em;
	border-bottom: 5px solid rgba(255, 255, 255, 0.15);
}

/* GRID */

#grid {
	position: relative;
	display: inline-block;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1200px;
	list-style: none;
	text-align: center;
}

/* GRID CORNERS */

.tl-corner {
	border-top-left-radius: 10px;
}

.tr-corner {
	border-top-right-radius: 10px;
}

.bl-corner {
	border-bottom-left-radius: 10px;
}

.br-corner {
	border-bottom-right-radius: 10px;
}

/* FIGURE */

#grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	width: 200px;
	height: 200px;
	background: #00b666;
	text-align: left;
	cursor: pointer;
}

#grid figure.bordered {	
	border-bottom: 3px solid rgba(0, 0, 0, 0.4);
}

#grid figure div {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	opacity: 0.9;
	background-size: cover;
	background-position: center;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

#grid figure figcaption {
	padding: 10px;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #333;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

#grid figure figcaption::before,
#grid figure figcaption::after {
	pointer-events: none;
}

#grid figure figcaption,
#grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
#grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

#grid figure p {
	margin: 0;
	letter-spacing: 1px;
	font-size: 12px;
	color: #fff;
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

#grid figure small {
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 18px;
	background-color: #f4f4f4;
	padding: 5px 8px 8px 8px;
	text-shadow: none;
	color: #333;
	text-transform: lowercase;
	opacity: 0;
	font-weight: bold;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

#grid figure:hover p,
#grid figure:hover small {	
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	opacity: 1;
}

#grid figure:hover div {
	opacity: 0.2;
}

/* OVERLAY */

#overlay {
	position: absolute;
	top: 0;
	width: 100%;
	min-height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
	z-index: 9999;
	display: none;
}

#overlay #content-wrapper {
	display: inline-block;
	text-align: left;
	margin-bottom: 20px;
}

#overlay #content-wrapper span.nav {
	position: absolute;
	display: inline-block;
	height: 100%;
	width: 100px;
	text-align: center;
	font-size: 40px;
	cursor: pointer;
	opacity: 0.2;
}

#overlay #content-wrapper span.nav:hover {
	opacity: 1;
}

#overlay #content-wrapper #prev-item {
	left: -100px;
}

#overlay #content-wrapper #next-item {
	left: 100%;
}

#overlay #content {
	position: relative;
	background-color: #000;
}

#overlay h2 {
	font-weight: normal;
}

#overlay img {
	max-width: 800px;
}

#overlay #content-buttons span {
	font-size: 20px;
	margin: 10px 5px;
	cursor: pointer;
}

#overlay #content-buttons small {
	font-size: 12px;
	margin: 10px 5px;
	display: block;
}

#overlay #content-buttons small.time {
	clear: right;
	float: right;
}

#overlay #content-buttons span.icon-flag:hover, #overlay #content-buttons span.icon-flag.active {
	color: #5898fc;
}

#overlay #content-buttons span.icon-ribbon:hover, #overlay #content-buttons span.icon-ribbon.active {
	color: #529b31;
}

#overlay #content-buttons span.icon-heart:hover, #overlay #content-buttons span.icon-heart.active {
	color: #f75050;
}

#overlay #content-buttons span.icon-cross:hover {
	color: #ccc;
}

/* COMMENTS */

#comments-wrapper {	
	max-width: 800px;
	text-align: left;
	margin: 0 auto;
}

ul#comments, ul#comments ul {
	clear: both;
	list-style: none;
	padding: 0;
	font-size: 12px;
}

ul#comments ul {
	margin-top: 10px;
	margin-bottom: 0;
}

ul#comments li:last-child {
	margin-bottom: 0;
}

ul#comments li {
	border: 1px solid #666;
	padding: 10px;
	margin-bottom: 5px;
}

ul#comments li span {
	display: block;
}

ul#comments li a.time {
	font-weight: normal;
	margin-left: 10px;
	color: #aaa;
}

ul#comments li i {
	font-size: 16px;
	margin-right: 8px;
	margin-bottom: 5px;
	cursor: pointer;
}

ul#comments li span.links a {
	margin-right: 10px;
}

#comment-buttons textarea {
	background-color: #333;
	width: 100%;
	height: 200px;
	resize: vertical;
	outline: none;
	color: #eee;
	font-family: inherit;
}

#comment-buttons {
	float:right;
	margin-bottom: 10px;
}

/* FOOTER */

#footer {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 10000;
}

#footer ul {
	list-style: none;
	text-align: right;
	margin-right: 10px;
	font-size: 10px;
}