@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #2dcb89;
	color: #f3f3f3;
	text-align: center;
	overflow-x: hidden;
}

a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #5898fc;
}

#header {
	margin: 40px 0;
}

#wrapper {
	width: 90%;
	margin: auto;
	margin-bottom: 40px;
	display: inline-block;
}

.grid {
	margin: 20px 0;
}

.grid a {
	font-weight: normal;
}

.grid-item { 
	float: left;
	width: 200px;
	height: 200px;
	box-sizing: border-box;
	margin-bottom: 10px;
	margin-right: 10px;
	cursor: pointer;
	opacity: 0;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}
.grid-item--width2 { width: 410px; height: 410px; }
.grid-item.loaded { opacity: 1; }

.grid-item figure {
	height: 100%;	
	background-position: center;
	background-size: cover;
}

.grid-item:hover figure {
	opacity: 0.65;
}

.grid-item p {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 10px auto;
	letter-spacing: 1px;
	font-size: 12px;
	color: #fff;
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #333;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid-item--width2 p {	
	font-size: 16px;
}

.grid-item:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	opacity: 1;
}

.grid-sizer { width: 200px; }

@media screen and (max-width: 768px) {
  /* 5 columns for larger screens */
  .grid-sizer, .grid-item { width: 100%; }
}

ul#cats {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul#cats li {
	float: left;
	margin-right: 10px;
	font-size: 12px;
	cursor: pointer;
}